<% @quotes.each do | quote | %>
<blockquote class="quote-container">
	<span class='open-quote'>&ldquo;</span>
	<p class="content"><%= quote.content %></p>
	<span class='close-quote'>&rdquo;</span>
	<small class="author">– <%= quote.author %> –</small>
</blockquote>
<% end %>