<% @quotes.each do | quote | %>
<blockquote class="quote-container">
	<p class="content"><span>&ldquo;</span><%= quote.content %><span>&rdquo;</span></p>
	<small class="author">– <%= quote.author %> –</small>
</blockquote>
<% end %>