/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*************
basic reset
*************/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}


/*************
header style
*************/
a {
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	padding: 10px 20px;
}

header h1, p {
	width: 20%;
	font-family: 'Quicksand';
}

header nav {
	margin-top: -3%;
	float: right;
}

header nav li { 
	list-style: none;
	display: inline-block;
	border: solid 1px black;
	border-radius: 10px;
	padding: 2px 10px;
	cursor: pointer;
	transition: 1s;
	font-family: 'Quicksand';
 }


 header nav li:hover {
	background: black;
	color: white;
 }

  header nav li a:hover {
	color: white;
 }

/*************
modal style
*************/


 #user-modal {
 	width: 80%;
 	margin: 0 10%;
 	height: 500px;
 	background: white;
 	position: absolute;
 	z-index:100;
 	text-align: center;
 	padding-top: 10%;
 	font-family: 'Quicksand';

 }

 #user-modal .theme {
 	width: 80%;
 	height: 50px;
 	margin: 0 auto;
 	text: center;
 	margin-top: 20px;
 	padding: 20px;
 	font-family: 'Quicksand';
 	text-transform: uppercase;
 	letter-spacing: .2em;
 }

 #user-modal.hide {
 	top: -100%;
 	transition: 1s;
 }

 #user-modal.show {
 	top: 30%;
 	transition: 1s;
 }

 #user-modal .theme.sea-trigger {
 	background: darkblue;
 	color: aquamarine;
 	cursor: pointer;
 	transition: 1s;
 }

  #user-modal .theme.sea-trigger:hover {
 	opacity: .6;
 }

 #user-modal .theme.space-trigger {
 	background: black;
 	color: white;
 	cursor: pointer;
 	transition: 1s;
 }

 #user-modal .theme.space-trigger:hover {
 	opacity: .6;
 }

  #user-modal .theme.farm-trigger {
 	background: sienna;
 	color: springgreen;
 	cursor: pointer;
 	transition: 1s;
 }

 #user-modal .theme.farm-trigger:hover {
 	opacity: .6;
 }
